@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif;
    
  }
  
  /* background-color: hsl(98, 100%, 78%); */
  
  .key-color-main {
    /* Background : Blue */
    background-color: #92FF9C;
    /* Text : White */
    color: 'white'
  }

  .key-color-depth1 {
    background-color: #5ccf68;
  }

  .key-color-depth2 {
    background-color: #8edc96;
  }
  
  .main-header{
    -webkit-app-region: drag;
  }
  
  .drag-disable {
    -webkit-user-select:none
  }

  /* Scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}